body {
  background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}

#page {

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-card {
  padding: 20px 32px;
  background: $white;
  border-radius: 20px;
}

.custom-wrapper {
  padding: 20px;
  background: #c8dcff;
  border-radius: $border-radius;
}

.slick-slider {
  width: 644px;
}

.slick-arrow {
  width: 30px;
  height: 30px;

  &::before {
    color: $primary;
    font-size: 30px;
  }

  &.slick-prev {
    left: -50px;
  }

  &.slick-next {
    right: -50px;
  }
}
