body {
  background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}

#page {

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-card {
  padding: 20px 32px;
  background: $white;
  border-radius: 20px;
}

.slick-slider {
  width: 700px;
}
