body {
  height: 100vh;
  background: radial-gradient(99.73% 98.31% at 51.96% 40.13%, rgba(96, 103, 242, 0.8) 0.01%, rgba(52, 52, 52, 0.8) 94.06%);
}

#page {

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
